[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11
[submodule "Pybind/lib/pybind11"]
	path = Pybind/lib/pybind11
	url = https://github.com/pybind/pybind11
[submodule "Pybind/TestPybind11/lib/pybind11"]
	path = Pybind/TestPybind11/lib/pybind11
	url = https://github.com/pybind/pybind11
[submodule "Pybind/lib/eigen"]
	path = Pybind/lib/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
